h1 {
  font-family: Urbanist;
  text-align: center;
}

h2 {
  font-family: Urbanist;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 25px;
  font-family: Urbanist;
  text-align: center;
}

nav {
  text-align: center;
  background-color: black;
}

nav a {
  text-decoration: none;
  list-style-type: none; 
  color: white;
  font-family: Urbanist;
}

.navigate {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-style: none;
  border-radius: 5px;
  background-color: #a80b00;
  font-family: Urbanist;
  font-weight: bold;
  padding: 6px;
  width: 50%;
}

.mainimage {
  width: 100%;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-color: #000000;
  border-weight: 5px;
}
