p {
  font-size: 30px;
  font-family: Urbanist;
}

nav {
  text-align: center;
  background-color: black;
}

nav li {
  text-decoration: none;
  list-style-type: none; 
  color: white;
  font-family: Urbanist;
}

.navigate {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-style: solid;
  border-width: thin;
  border-color: #000000;
  border-radius: 5px;
  padding: 5px;
  background-color: #a80b00;
  font-family: Urbanist;
}
