h1 {
  font-family: Abel;
  font-size: 40px;
  margin-bottom: 8px;
  text-align: center;
}

h2 {
  font-family: Abel;
  font-size: 38px;
  margin-bottom: 8px;
  margin-left: 60px;
  text-align: left;
}

h3 {
  font-family: Abel;
  margin-bottom: 8px;
  text-align: center;
}

p {
  font-family: Libre Baskerville;
  font-size: 25px;
  margin-left: 60px;
  margin-right: 60px;
}

li {
  font-family: Libre Baskerville;
  font-size: 25px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
}

.navigate {
  background-color: #fc4b42;
  border-radius: 5px;
  border-style: none;
  color: white;
  display: inline-block;
  font-family: Urbanist;
  font-size: 25px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.align {
  display: flex;
  justify-content: center;
}

.job-posting {
  background-color: #fc4b42;
  border-radius: 5px;
  border-style: none;
  color: white;
  display: block;
  font-family: Urbanist;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.link-width {
  width: 100%;
}

.form-style {
  background-color: #cccccc;
  border-radius: 5px;
  margin: 30px auto;
  max-width: 70%;
  padding: 30px;
}

input[type=text] {
  border-color:#fc4b42;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 25px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}

input[type=email] {
  border-color:#fc4b42;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 25px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}

input[type=number] {
  border-color:#fc4b42;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 25px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}

input[type=file] {
  font-size: 25px;
  margin: 10px 0;
  padding: 15px;
  width: 25%;
}

button {
  background-color: #de0a02;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 25px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}

textarea {
  border-color:#fc4b42;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 25px;
  height: 300px;
  margin: 10px 0;
  padding: 15px;
  resize: none;
  width: 100%;
}

label {
  display: block;
  font-size: 20px;
}

.home-button {
  color: #1f267a;
  font-size: 24px;
  text-decoration: none;
}

hr {
  background-color: #de0a02;
  border: none;
  color: #de0a02;
  height: 3px;
  margin-left: 60px;
  width: 15%;
}

.center-line {
  background-color: #de0a02;
  border: none;
  color: #de0a02;
  height: 4px;
  margin: 12px auto;
  width: 30%;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

tr {
  border-bottom: 1px solid #5e5e5e;
}

th {
  background-color: #fc4b42;
  font-size: 18px;
  font-style: Libre Baskerville;
  padding: 7px;
  width: 25%;
}

td {
  font-size: 18px;
  font-style: Libre Baskerville;
  padding: 7px;
}

.row {
  margin: 15px auto;
}

.column {
  float: left;
  padding: 10px;
  width: 48%;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

.barista {
  border-color: #de0a02;
  border-radius: 15px;
  border-style: solid;
  border-width: 10px;
  float: left;
  margin-right: 60px;
}

.bike {
  border-color: #fc4b42;
  border-radius: 15px;
  border-style: solid;
  border-width: 10px;
  float: right;
  margin-left: 60px;
}

.roofer {
  border-color: #fc4b42;
  border-radius: 15px;
  border-style: solid;
  border-width: 10px;
  float: right;
  margin-left: 60px;
}

.results {
  font-family: Libre Baskerville;
  font-size: 22px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}

.table-header {
  background-color: #ffffff;
  font-family: Abel;
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }
  h2 {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
  h3 {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  p {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }
  li {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }
  hr {
    margin-left: 10px;
  }
}
